*{
    box-sizing:border-box;}
.navbar img{
    width:150px;
}
.start{
 
    width: 100%;
    height:500px;
    background-image: url(assets/career.png);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: cover;
  
}
.start h2{
    color: white;
}
.start button{
    width: 200px;
    height: 50px;
}
.cont{
    background-color: aqua;

}
.our button{
    background-color: white;
}
.why{
    text-align: center;
    justify-content: center;
    align-items: center;
}
.bird figure img{
    width: 80%;

    text-align: start;
 }
 .bird figure{
    text-align: start;
     width: 100%;
 }
 .insurance img{
    height:200px;
    width: 100%;
}

.insurance h1{
   color: blueviolet;
  text-align: center;
  justify-content: center;
  align-items: center;
 
}
.insurance h5{
   
    text-align: center;
    justify-content: center;
    align-items: center;
}
.video,.initiate,.some,.more{
    text-align: center;
    justify-content: center;
    align-items:center ;
   
}
.anim h1{
    animation-name:fadeInUpBig;
}
.anim h1,.initiate h1{
    color: mediumpurple;
}
.anim p{
    font-size: 20px;
}
.anim img{
    animation-name: fadeInDown;
    animation-duration: 2s;
    animation-iteration-count:2;
    animation-direction: alternate; 
}
.icon img{
    width: 50px;
    height: 50px;
}
.flex{
    display:flex;
    flex-wrap: wrap;
}
.did button{
    width: 200px;
    height: 50px;
    background-color: deepskyblue;
    color: white;
}
.i{
    background-color: deepskyblue;
    color: white;
}
.did{
    text-align: center;
    justify-content: center;
    align-items: center;
}
.bird h1{
   color: mediumorchid;
   font-weight: bold;
   font-size: 70px;
}
.bird p{
    font-size: 20px;
}
.list h2{
    text-align: center;
    justify-content: center;
    align-items: center;
    animation-name:fadeOutUp ;
    animation-duration: 2s;
    animation-iteration-count:2;
    animation-direction: alternate; 
 }
 .list{
    text-align: center;
    justify-content: center;
    align-items: center;
 }